body{
    background:#E6ECF0;
    padding: 0;
    margin: 0
}
.container{
    margin: auto;
    width: 865px;
    
}
nav{
    background: #fff;
}
.nav{
    height: 46px;
    position: relative;
    
}
.nav ul{
    list-style-type: none;
    margin: 0;
    line-height: 44px;
    margin-left: 0;
    padding-left: 0;
    width: 20%;
    border-bottom: 1px solid #1c94e0;
    padding-top: 1px
}
.nav ul li {
    display: inline-block;
    padding-right: 10px;
    color: #66757f
    
}
nav span{
    right: 10px;
    position:absolute;
    right: 10px;
    top: 14px;
    color:#77858E;
    font-weight: normal

}
.nav ul li a {
    padding-right: 6px;
}
.nav ul li a img{
    width: 22px;
   
}
.nav ul li:hover{
    border-bottom: 2px solid #1c94e0;
    transition: all .10s ease-in-out;
    cursor: pointer;
    color: #1c94e0
}
main .main {
    background: #fff;
    position: relative;
    right: -1px;
    top: -7px;  
}

main .main .top-main{
    position: absolute;
    top: 25px;
    background: #fff;
    width: 85%;
    padding-left: 131px;
    padding-top: 32px;
    height: 230px;

}
main .main .top-main h1{
    font-size:24px;
    line-height: .8;
    padding-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
main .main .top-main input{
    margin-bottom: 10px;
    width: 272px;
    padding:5px 2px;
    border:1px solid #ddd
}
main .main .top-main .login{
    margin-top: 10px
}
main .main .top-main .login input[type="submit"]{
    width: 50px;
    background-color: #1da1f2;
    border: 1px solid #1da1f2;
    color: #fff;
    border-radius: 100px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 16px;
    text-align: center;
    width: 77px;

}
main .main .top-main .login input[type="submit"]:hover{
    background:#1c94e0;
    cursor: pointer;
}
main .main .top-main .login input[type="radio"]{
    width: 12px;
}
main .main .top-main .login a{
    text-decoration: none;
    color: #1c94e0;
    
}
main .main .bottom-main {
    background-color: #f5f8fa;
    position: absolute;
    top: 287px;
    width: 100%;
    left: 1px;
}
main .main .bottom-main p{
    padding-left: 125px;
    color: #657786;
}
main .main .bottom-main p a{
    text-decoration: none;
    color: #1c94e0;
}