*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
}
.container{
    width: 1200px;
    margin: auto;
}
.clear-fix{
    clear: both;
}
.block-right{
    float: right;
}
.block-left{
    float: left;
}
.txt-right{
    text-align: right;
}

.txt-left{
    text-align: left;
}

.txt-center{
    text-align: center;
}